<html>
   <head>
      <title><%= artistName %></title>
      <meta name="notes" content="you2me 0.0.1">
   </head>
   <body>
      <h1><%= artistName %></h1>
      <%= artistInfo %>
   </body>
</html>

